<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="ebce68ea-f50c-4b1e-b731-b612bee464d8"
            Publisher="CN=vito.de.nooijer"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TurtleTurner2000.Store</DisplayName>
    <PublisherDisplayName>vito.de.nooijer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TurtleTurner2000.Store.App">
        <VisualElements
            DisplayName="TurtleTurner2000.Store"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TurtleTurner2000.Store"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>